# Supabase
VITE_SUPABASE_URL=https://wkrtbjvbjebhbcjwurhb.supabase.co
VITE_SUPABASE_ANON_KEY=

# Server-only (Netlify env)
SUPABASE_SERVICE_ROLE_KEY=
JT_API_KEY=22TGiKuasNuBCh9DF36aQCWsfV6DQdDTwz
JT_ORG_ID=22NvNEMpKBmy
